{% extends 'base.html' %}

{% block title %}Best books for career: survey form{% endblock %}
{% block extra-head %}<meta name="robots" content="noindex">{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-7">
            <h3 class="spacer">Hi, I am so glad to see you here.</h3>
            <p>
                I am surveying thousands of successful and productive people in my contact list.<br/>
                My goal is to find out what books helped them become who they are.
            </p>
            <p>
                So I need your opinion.
            </p>
            <p class="lead spacer">
                What self-development and teamwork books have had the greatest impact on your career?</br>
            </p>
            <p>
                <small>
                    <em>Please select up to three book titles.</em>
                </small>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form class="form-horizontal" action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-lg-1 title-label">
                        {{ form.title1.label_tag }}
                    </div>
                    <div class="col-lg-11">
                        {{ form.title1 }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-1 title-label">
                        {{ form.title2.label_tag }}
                    </div>
                    <div class="col-lg-11">
                        {{ form.title2 }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-1 title-label">
                        {{ form.title3.label_tag }}
                    </div>
                    <div class="col-lg-11">
                        {{ form.title3 }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary btn-success">Submit results</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra-styles %}
    {{ form.media.css }}
    <style type="text/css">
        @media (min-width: 768px) {
            .select2-container {
                min-width: 45em;
            }
        }
        .select2-container .select2-selection--single {
            height: 80px;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 80px;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 80px;
        }
        .title-label {
            line-height: 80px;
        }
        .spacer {
            margin: 1em 0;
        }
    </style>
{% endblock %}

{% block extra-scripts %}
    {{ form.media.js }}
{% endblock extra-scripts %}
