{% extends 'base.html' %}

{% block extra-head %}<meta name="robots" content="noindex">{% endblock %}
{% block title %}Best books for career: thanks for taking part!{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-success text-center">
                <span class="glyphicon glyphicon-ok"></span>
                Thank you, you are awesome!
            </h3>
        </div>
        <div class="col-lg-6">
            <h4>What's next?</h4>
            <p>
                Once I have collected enough answers, I am going to create an unbiased list of top books and share it with you. Stay tuned!
            </p>
            <p>
            If you, like me, is obsessed with learning from books, you might find my <a href="https://www.linkedin.com/pulse/make-personal-growth-books-work-you-ideas-depot-reading-alex-morozov/">Idea Depot strategy</a> useful.
            Check out <a href="https://morozov.ca">my blog</a> for even more ideas.
            </p>
        </div>
    </div>
{% endblock %}
